<div class="row login">
  <form class="col-md-6 col-md-offset-3" ng-submit="login()">
    <h1>Provis</h1>
    <div ng-show="error" class="alert alert-danger">
      <p><strong>Invalid Login attempt.</strong> Please make sure you've enter both the username and password correctly.</p>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" placeholder="Username" data-ng-model="userInfo.userName"/>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" ng-hide="showPassword" class="form-control" placeholder="Password" data-ng-model="userInfo.password"/>
      <input type="text" ng-show="showPassword" class="form-control" placeholder="Password" data-ng-model="userInfo.password"/>
      <input type="checkbox" data-ng-model="showPassword"/>Show Password
    </div>
    <button class="btn btn-primary form-control">Login</button>
  </form>
</div>
