<div class="row">
<div class="col-md-12" style="background-color:white;">
  <h2>Violation Detail</h2>
  <section>
    <div class="form-group">
      <label>Person's Address</label>
      <input type="text" class="form-control" placeholder="Username" data-ng-model="userInfo.address"/>
    </div>
  </section>
</div>
</div>
