<div class="row">
<div class="col-md-12" style="background-color:white;">
  <div class="btn-group" style="margin:10px 0">
    <button type="button" class="btn btn-primary" ng-click="gotoViolation()">New Violation</button>
  </div>
  <section>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Violation Number</th>
          <th>Person's Name</th>
          <th>Violation Address</th>
          <th>Violation Status</th>
          <th># of Violations</th>
          <th>Violation Date</th>
        </tr>
      </thead>
    </table>
  </section>
</div>
</div>
