<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="dashboard">Provis</a>
    </div>
    <div id="navbar" uib-collapse="navCollapsed" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="dashboard">Home</a></li>
        <li><a ui-sref="reports">Reports</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)"ng-click="signout()">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
